<template>
    <div>
      <input v-model="newTitle">
      <button :disabled="newTitle===''" @click="addTodo">ADD TODO</button>
    </div>
</template>

<script>
import { GET_TODOS, ADD_TODO } from "../storeEnums";
export default {
  name: "AddTodoUi",
  data() {
    return {
      newTitle: "",
    }
  },
  methods: {
    addTodo() {
      const todoItem = {
        title: this.newTitle,
        complete: false,
        priority: 2
      }
      this.$store.dispatch(ADD_TODO, todoItem);
      this.newTitle = '';
    }
  },
}
</script>

<style>

</style>
