<template>
  <div>
    <input type="checkbox" v-model="todoItem.complete">
    <input class="title" v-if="editing" v-model="todoItem.title">
    <span class="title" v-else-if="deleting" > --- deleting ---</span>
    <span class="title" v-else :class="{isComplete:todoItem.complete}">{{todoItem.title}}</span>
    <!-- <button @click="editTodo()">{{editing ? 'Close':'Edit'}}</button> -->
    <button @click="deleteTodo()">&times;</button>
  </div>
</template>

<script>
import { DELETE_TODO } from "../storeEnums";
export default {
  name: "TodoItem",
  data() {
    return {
      editing: false,
      deleting: false
    }
  },
  props: {
    todoItem: {
      type: Object,
      required: true 
    },
  },
  methods: {
    // editTodo() {
    //   this.editing = !this.editing;
    // },
    deleteTodo(){
      this.deleting = true;
      this.$store.dispatch(DELETE_TODO, this.todoItem.key);
    },
  },
}
</script>

<style>

</style>
