<template>
  <div id="app">
    HI
    <TodoItem v-for="todo in todos" :key="todo.key" :todoItem="todo"/>
    <!-- <pre>{{todos}}</pre> -->
    <AddTodoUI/>
  </div>
</template>

<script>
import AddTodoUI from "./components/AddTodoUI";
import TodoItem from "./components/TodoItem";
import { GET_TODOS } from "./storeEnums";

export default {
  name: "app",
  components: {
    AddTodoUI,
    TodoItem,
  },
  computed: {
    todos() {
      return this.$store.getters.todos;
      // return this.$store.state.todos;
    }
  },
  created () {
    // init todos
    this.$store.dispatch(GET_TODOS);
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.isComplete {
  text-decoration: line-through;
}
.title {
  min-width: 250px;
  display: inline-block;
  padding: 0;
  margin: 0;
}
</style>
